<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
<h2>Thêm 1 sản phẩm</h2>
<form  action="/save" method="post">
  <label>link Image</label><br/>
  <input name="image"><br/>
    <label>NameFood</label><br/>
    <input name="nameFood"><br/>
    <label>Recipe</label><br/>
    <input name="recipe"><br/>
    <label>Detail</label><br/>
    <input name="detail"> <br>
    <button class="btn btn-primary">ADD</button>
</form>
</body>
</html>